@use '../sass/utils' as *;
@use '../sass/components' as *;

body {
  font-family: var(--ff-primary);
  position: relative;
  min-height: 100vh;
  text-align: center;
  background: url('../images/bg-mobile.svg') no-repeat;
  background-size: contain;
  background-color: var(--bg-primary-500);
}

@media (min-width: $desktop-size) {
  body {
    background-image: url('../images/bg-desktop.svg');
    background-size: contain;
  }
}
