@use '../sass/utils' as *;
@use '../sass/components' as *;

body {
  font-family: var(--ff-primary);
  position: relative;
  min-height: 100vh;
  text-align: center;
  background: url('../images/bg-mobile.svg') no-repeat;
  background-size: contain;
  background-color: var(--bg-primary-500);
}

.header {
  padding-top: 2.375rem;
  padding-bottom: 3.375rem;
  text-align: left;
  &__logo {
    width: 7.5rem;
  }
}

.hero {
  &__photo {
    margin-bottom: 3.75rem;
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__text {
    margin-bottom: 1.5rem;
  }
}


