@use '../utils' as *;

.button {
  background-color: var(--button-primary-100);
  padding-block: 0.75rem;
  width: 12.5rem;
  box-shadow: var(--box-shadow-500);
  border-radius: 1.25rem;
  border: none;
  transition: 0.3s ease-in-out;
  &:hover,
  &:focus {
    background-color: var(--button-accent-500);
    color: var(--text-primary-100);
    cursor: pointer;
  }
}

@media (min-width: $desktop-size) {
  .button {
    padding-bottom: 1rem;
    border-radius: 1.75rem;
    box-shadow: var(--box-shadow-600);
  }
}
