@use '../utils' as *;
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-inline: auto;
}

@media (min-width: $desktop-size) {
  .flex {
    gap: 1.875rem;
  }
  .flex--main {
    flex-direction: row;
    align-items: center;
  }
}
