@use '../utils' as *;

.hero {
  margin-bottom: 4.75rem;
  max-width: 33.75rem;
  margin-inline: auto;

  & *:nth-last-child(1) {
    margin-top: 1rem;
  }
}

@media (min-width: $desktop-size) {
  .hero {
    margin-bottom: 4rem;
  }
}
