@use '../utils/vars' as *;

@mixin text($size, $color, $weight, $line) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line;
}

.header-500 {
  @include text(var(--fs-700), var(--text-primary-600), 600, 1.5);
}

.header-700 {
  @include text(var(--fs-900), var(--text-primary-600), 600, 1.5);
  letter-spacing: 0.17px;
  &--light {
    font-weight: 200;
  }
}

.text-500 {
  @include text(var(--fs-500), var(--text-primary-500), 400, 1.77);
  letter-spacing: 0.09px;
}

.text-600 {
  @include text(var(--fs-600), var(--text-primary-500), 400, 1.66);
  letter-spacing: 0.1px;
}
